<p id="notice"><%= notice %></p>

<p>
  <strong>Work:</strong>
  <%= @project.work %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @project.artist %>
</p>

<p>
  <strong>Year:</strong>
  <%= @project.year %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
