<p id="notice"><%= notice %></p>

<p>
  <strong>Work:</strong>
  <img src= "<%= @project.work %>" style= "width: 400px">
</p>

<p>
  <strong>Artist:</strong>
  <%= @project.artist %>
</p>

<p>
  <strong>Year:</strong>
  <%= @project.year %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> 
<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', projects_path %>
